mobileapp/CONTRIBUTING.md 
mobileapp/hooks 
mobileapp/.bithoundrc 
mobileapp/platforms 
mobileapp/plugins 
mobileapp/node_modules 
"AFC/Validator Lib/LearningArduino.sln" 
"AFC/Validator Lib/LearningArduino.vcxproj" 
"AFC/Validator Lib/LearningArduino.vcxproj.filters" 
"AFC/Validator Lib/LearningArduino.vcxproj.user" 
"AFC/Validator Lib/__vm" 
"AFC/Validator Lib/Debug" 
"AFC/Validator Lib/Release" 
